* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
  padding-bottom: 32px;
}
.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.instagram-phone img {
  height: 50rem;
}
.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}
.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
.group:nth-child(1) {
  min-height: 19rem;
}
.instagram-logo {
  height: 3rem;
}
.profile-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
}
.instagram-login {
  background-color: #0095f6;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.instagram-login:active {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transform: translateX(2px);
}

.instagram-logou {
  color: #0095f6;
  margin-top: 1rem;
}
.not-account {
  color: #8e8e8e;
}
.link-blue {
  color: #0095f6;
}
.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}
.app-download:nth-child(1) {
  background-image: url("./img/apple-button.png");
}
.app-download:nth-child(2) {
  background-image: url("./img/googleplay-button.png");
}

.footer {
  display: flex;
  width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
}
.footer a {
  color: #8e8e8e;
  white-space: nowrap;
}
.footer > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
}
.copy {
  color: #8e8e8e;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 52px;
}
@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}
@media (max-width: 650px) {
  body {
    background-color: #fff;
  }
  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}
